body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #1E8449;
}

.category-active{
  background-color: #1E8449;
  color: white;
}

.hasil{
  max-height: 700px;
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}